* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Mulish' , sans-serif;
    background: url(./to-do-list.jpg) no-repeat bottom center;
    background-size: cover;
}

input {
    flex: 5;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 2rem;
    padding: 5px;
    font-style: italic;
    font-weight: 200;
} 

#add-task {
    transition: all 0.3s;
    flex: 1;
    font-size: 1.2rem;
    padding: 5px;
    background-color: #fff;
    color: green;
    border: green solid 2px;
    border-radius: 10px;
    &:hover {
        background-color: green;
        color: white;
    }
    font-style: normal;
}

/* task list styles */
.task {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 3px;

    padding: 5px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.task li {
    list-style-type: none;
    flex: 4;
    padding: 5px;
    font-size: 1.3rem;
    margin: 10px;
}

.task button {
    flex : 1;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
}

.checkTask {
    color: orange;
    margin-right: 5px;
    border: 1px solid orange;
    font-size: 1.5rem;
    &:hover {
        background-color: orange ;
        color: white;
    }
}

.deleteTask {
    color: red;
    border: solid 2px red;
    font-size: 1.3rem;
    &:hover {
        background-color: red;
        color: #fff;
        transition: all 0.6s;
    }
}

.check {
    text-decoration: line-through orange;
}

i {
    font-size: 2rem;
}

#task-container {
    width: 60%;
    height: auto;
    margin: 0 auto;
}

#add-task-container {
    width: 550px;
    padding: 20px 10px;
    background-color: #fff;
    border-radius: 20px ;
    box-shadow: 0 0 3px;
    display: flex;
}

#clear-all {
    padding: 10px;
    font-size: xx-large;
    margin: 1rem;
    border-radius: 10px;
    background-color: azure;
}